.bottom_hr{
  color: #f2f2f2;
  size: 2px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.top_hr{
  color: #f2f2f2;
  size: 2px;
  width: 100%;
  padding: 0;
  margin: 100px 0 0 0;
  z-index: 5;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}