.digits {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  gap: 20px;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.text {
  margin-top: 20px;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
